################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentManagement.Microservices/cicd/.gitkeep
/DocumentManagement.Microservices/cicd/.gitkeep
